<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CURD_Oprations</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>selecttable.jsp</welcome-file>
    <welcome-file>selectAllEmpRecord.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
      <servlet-name>AddEmp</servlet-name>
      <servlet-class>com.rt.RegisterServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>AddEmp</servlet-name>
       <url-pattern>/register</url-pattern>
     </servlet-mapping>
     
      <servlet>
    <servlet-name>SelEmp1</servlet-name>
      <servlet-class>com.rt.Select1RecServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>SelEmp1</servlet-name>
       <url-pattern>/select</url-pattern>
     </servlet-mapping>
     
     
      <servlet>
    <servlet-name>SelEmp</servlet-name>
      <servlet-class>com.rt.SelectAllRecord</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>SelEmp</servlet-name>
       <url-pattern>/selectAllEmpRecord</url-pattern>
     </servlet-mapping>
     
       <servlet>
    <servlet-name>DeleteEmp</servlet-name>
      <servlet-class>com.rt.DeletServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>DeleteEmp</servlet-name>
       <url-pattern>/delete</url-pattern>
     </servlet-mapping>
     
        <servlet>
    <servlet-name>updateEmp</servlet-name>
      <servlet-class>com.rt.UpdateRecord</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>updateEmp</servlet-name>
       <url-pattern>/update</url-pattern>
     </servlet-mapping>
     
         <servlet>
    <servlet-name>LoginEmp</servlet-name>
      <servlet-class>com.rt.LoginServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>LoginEmp</servlet-name>
       <url-pattern>/login</url-pattern>
     </servlet-mapping>
     
      <servlet>
    <servlet-name>LogoutEmp</servlet-name>
      <servlet-class>com.rt.LogoutServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>LogoutEmp</servlet-name>
       <url-pattern>/logout</url-pattern>
     </servlet-mapping>
     
       <servlet>
    <servlet-name>Logoutinbox</servlet-name>
      <servlet-class>com.rt.Inbox</servlet-class>
    </servlet>
    
     <servlet-mapping>
       <servlet-name>Logoutinbox</servlet-name>
       <url-pattern>/index</url-pattern>
     </servlet-mapping>
     
     
     
      
     
     
     
    
     
</web-app>